In [65]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

## LOADING DATA

In [66]:
data = pd.read_csv('deliverytime.csv')
data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30

## PREPROCESSING DATA

In [67]:
data.keys()

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Type_of_order', 'Type_of_vehicle',
       'Time_taken(min)'],
      dtype='object')

In [68]:
data.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age              int64
Delivery_person_Ratings        float64
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Type_of_order                   object
Type_of_vehicle                 object
Time_taken(min)                  int64
dtype: object

#### CLEANING DATA

In [69]:
cleaned_data = data.drop(['ID', 'Delivery_person_ID'], axis=1)

#### TRAIN TEST SPLIT

In [70]:
X = cleaned_data.drop(['Time_taken(min)'], axis=1)
y = cleaned_data['Time_taken(min)']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### DATA TRANSFORMATION

In [72]:
encode = OrdinalEncoder()
X_train[['Type_of_order', 'Type_of_vehicle']] = encode.fit_transform(X_train[['Type_of_order', 'Type_of_vehicle']])
X_test[['Type_of_order', 'Type_of_vehicle']] = encode.fit_transform(X_test[['Type_of_order', 'Type_of_vehicle']])

#### DATA SCALING

In [73]:
scaler = StandardScaler()
scaled_train_data = scaler.fit_transform(X_train)
scaled_test_data = scaler.transform(X_test)

## TRAINING MODEL

In [74]:
model = LogisticRegression(random_state=12)
model.fit(scaled_train_data, y_train)
model.score(scaled_test_data, y_test)

c:\Users\buiha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.06064261432174581

In [77]:
model = GaussianNB()
model.fit(scaled_train_data, y_train)
model.score(scaled_test_data, y_test)

0.03355631099901305